<!DOCTYPE html>
<html lang="en-US">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="discrption" content="parallax one page">
    <meta name="keyword" content="agency, business, corporate, creative, freelancer, interior, joomla template, K2 Blog, minimal, modern, multipurpose, personal, portfolio, responsive, simple">

    <!--  Title -->
    <title>67th Milestone</title>

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&amp;subset=latin-ext" rel="stylesheet">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">

    <!-- custom styles (optional) -->
    <link href="assets/css/plugins.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>

<body data-dsn-grid-mousemove="true">

    <!--  DSN Loader
    ================================================== -->
    <div class="dsn-loader">
        <div class="dsn-up"></div>
        <div class="dsn-progress-page"></div>
        <div class="dsn-down"></div>
    </div>
    <!-- End DSN Loader
    ================================================== -->

    <!-- Sticky Menu
================================================== -->
    <div class="header-top nav-mobile">
        <div class="header-container">

            <div class="logo">
                <a href="#">
                    <!-- <img src="assets/img/logo.png" alt=""> -->
                </a>
            </div>

            <div class="menu-icon" data-dsn-grid="parallax" data-dsn-grid-move="50">
                <div class="icon-m">
                    <span class="menu-icon__line menu-icon__line-left"></span>
                    <span class="menu-icon__line"></span>
                    <span class="menu-icon__line menu-icon__line-right"></span>
                </div>
            </div>

            <div class="nav">
                <div class="inner">
                    <div class="logo">
                        <a href="#">
                            <!-- <img src="assets/img/logo-dark.png" alt=""> -->
                        </a>
                    </div>
                    <div class="nav__content">
                        <ul class="nav__list">
                            <li class="nav__list-item nav__list-dropdown">
                                <a href="#">Home</a>
                                <ul>
                                    <li><a href="index.html">Main Demo</a></li>
                                    <li><a href="demo-overlaymenu.html">Overlay Menu</a></li>
                                    <li><a href="demo2.html">One Item</a></li>
                                    <li><a href="demo3.html">Full Width</a></li>
                                    <li><a href="demo-light.html">Light Demo</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="nav__list-item nav__list-dropdown">
                                <a href="#">Work</a>
                                <ul>
                                    <li><a href="work.html">Work</a></li>
                                    <li><a href="project1.html">Project</a></li>
                                </ul>
                            </li>
                            <li class="nav__list-item"><a href="about.html">About</a></li>
                            <li class="nav__list-item nav__list-dropdown">
                                <a href="#0">Blog</a>
                                <ul>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="single-post.html">Single Post</a></li>
                                    <li><a href="single-post-sidebar.html">Single Post sidebar</a></li>
                                </ul>
                            </li>
                            <li class="nav__list-item"><a href="contact.html">Contact</a></li>
                        </ul>
                        <address>
                            Egypt<br>
                            Damietta,El-Mahalla El-Kubra,<br>
                            010-245 506 , 01004392260
                        </address>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="site-header">
        <div class="extend-container">
            <div class="inner-header">
                <div class="main-logo">
                    <a href="index.html">
                        <!-- <img src="assets/img/logo.png" alt=""> -->
                    </a>
                </div>
            </div>
            <nav class=" accent-menu main-navigation">
                <ul class="extend-container">
                    <li class="custom-drop-down">
                        <a href="index.html">Home</a>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li class="custom-drop-down">
                        <a href="events.html">Events</a>

                    </li>
                    <li><a href="star-night.html">Starnights </a></li>
                    <li>
                        <a href="blog.html">Money Muffin</a>


                    </li>
                    <li class="custom-drop-down">
                        <a href="#" onclick="return false">Team</a>
                        <ul>
                            <li><a href="OurTeam.html">Our Team</a></li>
                            <li><a href="contact.html">Contact Us</a></li>

                        </ul>
                    </li>

                    <div class="by-now">
                        <a href="https://themeforest.net/item/cuby-portfolio-showcase-html-template/23066340?s_rank=6">Register
                            Now </a>
                    </div>
                </ul>
            </nav>
        </div>
    </div>
    <!-- End Sticky Menu
================================================== -->

    <!-- Header
    ================================================== -->
    <header class="header-single section-padding">
        <div class="caption">
            <h2 class="title-header">THE FOOD CARNIVAL</h2>
            <h5 class="des-header">NEWS & IDEAS</h5>
        </div>
    </header>
    <!-- End Header
    ================================================== -->

    <!-- content
    ================================================== -->
    <section class="mean-content section-padding">
        <div class="container">
            <div class="row justify-content-center sticky-container">
                <div class="col-lg-8 content">
                    <div class="content-area">

                        <div class="dsn-block-content">
                            <div class="post-item" data-aos="fade-up">
                                <div class="post-format">
                                    <a class="post-thumbnail" href="single-post.html">
                                        <picture>
                                            <img src="assets/img/blog/1.jpg" alt="">
                                        </picture>
                                    </a>
                                </div>
                                <header class="entry-header">
                                    <ul class="post-meta">
                                        <li class="post-date">
                                            <a href="#" onclick="return false">Feb 8-10, 2019</a>
                                        </li>
                                    </ul>
                                    <h3 class="title-box"><a href="#" onclick="return false">INTRODUCTION</a></h3>
                                </header>
                                <div class="content-post">
                                    <p>By partnering with 67th Milestone, you develop a strategy to promote your
                                        products and services to a large audience throughout the time until the event
                                        is done. Your participation confirms to our members your ongoing commitment to
                                        best practices, education, high-value products and technology, and improvement
                                        of the industry as a whole. Most importantly, we get you in front of our
                                        audience — helping you make a strong statement with just your presence and
                                        nurture relationships to ensure ongoing success. Since our in-house population
                                        and subscribers are diverse in nature thereby focused in possibly related
                                        products and services, your partnership of the 67th Milestone is not diluted as
                                        in other associations that have a much broader focus.Our philosophy of
                                        collaboration has always been about ensuring satisfaction to our providers. We
                                        aim to establish 67th Milestone not only to be one of the most successful
                                        student organized fests, but also to be an influential platform for our
                                        partners to showcase themselves in the finest way possible. Partnering with us
                                        is appealing to many because of the perceived status, undoubted tangible and
                                        intangible rewards, and endorsement to your support for emerging flairs and
                                        experience in the profession. Also, as a partner, you not only influence how
                                        well your organization is showcased, but also aid us in carrying out our
                                        completely student run fest diligently.</p>
                                </div>
                                <!-- <div class="cats-links">
                                    <span>Categories: </span>
                                    <a href="#">Design</a>
                                </div> -->

                                 <!-- <a href="single-post.html" class="custom-btn">
                                    <span class="custom-btn__label">Know More</span>

                                    <span class="custom-btn__icon">

                                        <span class="custom-btn__icon-small">
                                           
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
                                                <polygon points="33.7,95.8 27.8,90.5 63.9,50 27.8,9.5 33.7,4.2 74.6,50 "></polygon>
                                            </svg>

                                        </span> 

                                        <span class="custom-btn__icon-circle">
                                           
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
                                                <path class="bottomcircle" d="M18.2,18.2c17.6-17.6,46-17.6,63.6,0s17.6,46,0,63.6s-46,17.6-63.6,0"></path>
                                                <path class="topcircle" d="M18.2,18.2c17.6-17.6,46-17.6,63.6,0s17.6,46,0,63.6s-46,17.6-63.6,0"></path>
                                            </svg>

                                        </span> 

                                    </span>
                                </a>-->
                            </div>

                            <div class="post-item" data-aos="fade-up">
                                <div class="post-format">
                                    <a class="post-thumbnail" href="single-post.html">
                                        <picture>
                                            <img src="assets/img/blog/2.jpg" alt="">
                                        </picture>
                                    </a>
                                </div>
                                <header class="entry-header">
                                    <ul class="post-meta">
                                        <li class="post-date">
                                            <a href="#" onclick="return false">Partner with us!</a>
                                        </li>
                                    </ul>
                                    <h3 class="title-box"><a href="#" onclick="return false">FINE DINE</a></h3>
                                </header>
                                <div class="content-post">
                                    <p>marketing
                                        15 announcements on the day of the fest, includes all promotional
                                        announcements, discounts to be issued by the vendor.

                                        Inclusion of logos of the vendor on our flexes.

                                        10 flexes/standees/ signage, other posters and material to be put around campus
                                        at prime locations during the fest.

                                        Social media marketing: Announcements regarding the vendor on all our social
                                        handles including but not limited to Instagram, Facebook.

                                        Can hold up to 4 promotional food competitions for the audiences to attract
                                        greater footfall.

                                        logistical aid
                                        Room deliveries to be made on the responsibility of the organizers- resulting
                                        in greater sales and larger coverage.

                                        Option to choose your stall on the day of the fest (first come, first serve
                                        basis)

                                        priority package inclusion
                                        Better placements and prime locations for marketing collaterals all over the
                                        university and priority over communicationsStall space 15x15 ft.

                                        Opportunity to test audience sometime in January, by putting up a stall in the
                                        university (but only with prior information and revenue sharing terms for this
                                        day)

                                        Distribution of any discount coupons/vouchers that the vendor would like to the
                                        student body via the organizers.

                                        </p>
                                </div>
                                <div class="cats-links">
                                    <span>Categories: </span>
                                    <a href="#" onclick="return false">Rs. 19,999</a>
                                </div>

                                <!-- <a href="single-post.html" class="custom-btn">
                                    <span class="custom-btn__label">Know More</span>

                                     <span class="custom-btn__icon">

                                        <span class="custom-btn__icon-small">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
                                                <polygon points="33.7,95.8 27.8,90.5 63.9,50 27.8,9.5 33.7,4.2 74.6,50 "></polygon>
                                            </svg>

                                        </span>

                                        <span class="custom-btn__icon-circle">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
                                                <path class="bottomcircle" d="M18.2,18.2c17.6-17.6,46-17.6,63.6,0s17.6,46,0,63.6s-46,17.6-63.6,0"></path>
                                                <path class="topcircle" d="M18.2,18.2c17.6-17.6,46-17.6,63.6,0s17.6,46,0,63.6s-46,17.6-63.6,0"></path>
                                            </svg>

                                        </span> 

                                    </span>
                                </a> -->
                            </div>

                            <div class="post-item" data-aos="fade-up">
                                <div class="post-format">
                                    <a class="post-thumbnail" href="single-post.html">
                                        <picture>
                                            <img src="assets/img/blog/3.jpg" alt="">
                                        </picture>
                                    </a>
                                </div>
                                <header class="entry-header">
                                    <ul class="post-meta">
                                        <li class="post-date">
                                            <a href="#" onclick="return false">Partner with us!</a>
                                        </li>
                                    </ul>
                                    <h3 class="title-box"><a href="#" onclick="return false">CASUAL DINE</a></h3>
                                </header>
                                <div class="content-post">
                                    <p>marketing and logistics aid
                                        8 announcements on the day of the fest, includes all promotional announcements,
                                        discounts to be issued by the vendor.Inclusion of logos of the vendor on our
                                        flexes.

                                        6 flexes/standees/ signage, other posters and material to be put around campus
                                        at prime locations during the fest.

                                        Social media marketing: Announcements regarding the vendor on all our social
                                        handles including but not limited to Instagram, Facebook.

                                        Can hold up to 2 promotional food competitions for the audience to attract
                                        greater footfall.

                                        Stall space 8X10 ft.

                                        </p>
                                </div>
                                <div class="cats-links">
                                    <span>Categories: </span>
                                    <a href="#" onclick="return false"></a>Rs. 14,999</a>
                                </div>

                                <!-- <a href="single-post.html" class="custom-btn">
                                    <span class="custom-btn__label">Know More</span>

                                    <span class="custom-btn__icon">

                                        <span class="custom-btn__icon-small">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
                                                <polygon points="33.7,95.8 27.8,90.5 63.9,50 27.8,9.5 33.7,4.2 74.6,50 "></polygon>
                                            </svg>

                                        </span>

                                        <span class="custom-btn__icon-circle">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
                                                <path class="bottomcircle" d="M18.2,18.2c17.6-17.6,46-17.6,63.6,0s17.6,46,0,63.6s-46,17.6-63.6,0"></path>
                                                <path class="topcircle" d="M18.2,18.2c17.6-17.6,46-17.6,63.6,0s17.6,46,0,63.6s-46,17.6-63.6,0"></path>
                                            </svg>

                                        </span>

                                    </span>
                                </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End content
    ================================================== -->


    <!-- Footer
        ================================================== -->
    <footer class="footer section-padding">
        <div class="content-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="column-logo">
                            <!-- <img src="assets/img/logo.png" alt=""> -->
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="column-contact">
                            <h4><a href="#">info@dsngrid.com</a></h4>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="social-content mb-30">
                            <ul>
                                <li class="pl-0"><a href="#">Dribbble.</a></li>
                                <li><a href="#">Behance.</a></li>
                                <li><a href="#">Linkedin.</a></li>
                                <li><a href="#">Twitter.</a></li>
                            </ul>
                        </div>
                        <div class="column-content">
                            <h5>
                                <span>Made with</span>
                                <span class="love">♥</span>
                                
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer
            ================================================== -->

    <div data-dsn-grid="progress-circle" data-dsn-grid-stroke="#fff">
        <div class="icon__fixed" data-dsn-grid="parallax">
            <i class="fas fa-angle-up"></i>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/dsn-grid.js"></script>
    <script src="assets/js/custom.js"></script>

</body>

</html>