<!DOCTYPE html>
<html lang="en-US">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="discrption" content="parallax one page">
    <meta name="keyword" content="agency, business, corporate, creative, freelancer, interior, joomla template, K2 Blog, minimal, modern, multipurpose, personal, portfolio, responsive, simple">

    <!--  Title -->
    <title>67 Milestone</title>

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&amp;subset=latin-ext" rel="stylesheet">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">

    <!-- custom styles (optional) -->
    <link href="assets/css/plugins.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>
<style>
    .center-block {
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        height: 50% !important;
    }

    h1 {
        font-size: 5rem;
        text-align: center;
        color: white;
        margin-top: 15vh;
        font-family: "Fjalla One", sans-serif;
        text-shadow: 4px 2px 5px #000000;
        padding-bottom: 3vh;
        padding-top: 2vh;
    }
</style>

<body data-dsn-grid-mousemove="true">

    <!--  DSN Loader
    ================================================== -->
    <div class="dsn-loader">
        <div class="dsn-up"></div>
        <div class="dsn-progress-page"></div>
        <div class="dsn-down"></div>
    </div>
    <!-- End DSN Loader
    ================================================== -->

    <!-- Sticky Menu
================================================== -->
    <div class="header-top nav-mobile">
        <div class="header-container">

            <div class="logo">
                <a href="#">
                    <!-- <img src="assets/img/logo.png" alt=""> -->
                </a>
            </div>

            <div class="menu-icon" data-dsn-grid="parallax" data-dsn-grid-move="50">
                <div class="icon-m">
                    <span class="menu-icon__line menu-icon__line-left"></span>
                    <span class="menu-icon__line"></span>
                    <span class="menu-icon__line menu-icon__line-right"></span>
                </div>
            </div>

            <div class="nav">
                <div class="inner">
                    <div class="logo">
                        <a href="#">
                            <!-- <img src="assets/img/logo-dark.png" alt=""> -->
                        </a>
                    </div>
                    <div class="nav__content">
                        <ul class="nav__list">
                            <li class="nav__list-item nav__list-dropdown">
                                <a href="#">Home</a>
                                <ul>
                                    <li><a href="index.html">Main Demo</a></li>

                                </ul>
                            </li>
                            <li class="nav__list-item nav__list-dropdown">
                                <a href="#">Work</a>
                                <ul>
                                    <li><a href="work.html">Work</a></li>
                                    <li><a href="project1.html">Project</a></li>
                                </ul>
                            </li>
                            <li class="nav__list-item"><a href="about.html">About</a></li>
                            <li class="nav__list-item nav__list-dropdown">
                                <a href="#0">Blog</a>
                                <ul>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="single-post.html">Single Post</a></li>
                                    <li><a href="single-post-sidebar.html">Single Post sidebar</a></li>
                                </ul>
                            </li>
                            <li class="nav__list-item"><a href="contact.html">Contact</a></li>
                        </ul>
                        <address>
                            Egypt<br>
                            Damietta,El-Mahalla El-Kubra,<br>
                            010-245 506 , 01004392260
                        </address>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="site-header">
        <div class="extend-container">
            <div class="inner-header">
                <div class="main-logo">
                    <a href="index.html">
                        <!-- <img src="assets/img/logo.png" alt=""> -->
                    </a>
                </div>
            </div>
            <nav class=" accent-menu main-navigation">
                <ul class="extend-container">
                    <li class="custom-drop-down">
                        <a href="index.html">Home</a>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li class="custom-drop-down">
                        <a href="events.html">Events</a>

                    </li>
                    <li><a href="star-night.html">Starnights </a></li>
                    <li>
                        <a href="blog.html">Money Muffin</a>


                    </li>
                    <li class="custom-drop-down">
                        <a href="#" onclick="return false">Team</a>
                        <ul>
                            <li><a href="OurTeam.html">Our Team</a></li>
                            <li><a href="contact.html">Contact Us</a></li>

                        </ul>
                    </li>

                    <div class="by-now">
                        <a href="https://themeforest.net/item/cuby-portfolio-showcase-html-template/23066340?s_rank=6">Register
                            Now </a>
                    </div>
                </ul>
            </nav>
        </div>
    </div>
    <!-- End Sticky Menu
================================================== -->
    <h1>OUR TEAM</h1>
    <!-- Logo Section
         ================================================== -->
    <div class="dsn-logo  section-padding pt-0" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <ul>
                    <div class="img-rounded center-block">
                        <li data-aos="fade-up"><img alt="Manu" src="assets/img/logo/Manu.jpeg">
                            <p class="Core_67">Manu J Nair, President (Student-Council) </p>
                            <div class="contact-info">
                                <div id="w-node-145d2aac2a46-8ef02105" class="contact-scec"><a href="mailto:president.scec@bmu.edu.in?subject=Enquiry"
                                        class="link-3">EMAIL</a></div>
                                <div id="w-node-145d2aac2a48-8ef02105" class="contact-scec"><a href="tel:8295059334"
                                        class="link-4">PHONE</a></div>
                            </div>
                        </li>
                    </div>

                    <div class="col-md-4 col-xs-12 text-center">
                        <li data-aos="fade-up"><img alt="himanshu" src="assets/img/logo/himanshu.jpeg">
                            <p class="Core_67">Himanshu Sirohi, Sports Sec</p>
                            <div class="contact-info">
                                <div id="w-node-145d2aac2a46-8ef02105" class="contact-scec"><a href="mailto:Sports.secretary@bmu.edu.in?subject=Enquiry"
                                        class="link-3">EMAIL</a></div>
                                <div id="w-node-145d2aac2a48-8ef02105" class="contact-scec"><a href="tel:8295788860"
                                        class="link-4">PHONE</a></div>
                            </div>
                        </li>
                    </div>
                    <div class="col-md-4 col-xs-12 text-center">
                        <li data-aos="fade-up"><img alt="akash" src="assets/img/logo/akash.jpeg">
                            <p class="Core_67">Akash Goparaju, Events Sec</p>
                            <div class="contact-info">
                                <div id="w-node-145d2aac2a46-8ef02105" class="contact-scec"><a href="mailto:Events.secretary@bmu.edu.in?subject=Enquiry"
                                        class="link-3">EMAIL</a></div>
                                <div id="w-node-145d2aac2a48-8ef02105" class="contact-scec"><a href="tel:9729162209"
                                        class="link-4">PHONE</a></div>
                            </div>
                        </li>
                    </div>
                    <div class="col-md-4 col-xs-12 text-center">
                        <li data-aos="fade-up"><img alt="mithila" src="assets/img/logo/mithila.jpeg">
                            <p class="Core_67">Mithila Reddy, Club Sec</p>
                            <div class="contact-info">
                                <div id="w-node-145d2aac2a46-8ef02105" class="contact-scec"><a href="mailto:Clubaffairs.secretary@bmu.edu.in?subject=Enquiry"
                                        class="link-3">EMAIL</a></div>
                                <div id="w-node-145d2aac2a48-8ef02105" class="contact-scec"><a href="tel:8295051446"
                                        class="link-4">PHONE</a></div>
                            </div>
                        </li>
                    </div>
                    <div class="col-md-4 col-xs-12 text-center">
                        <li data-aos="fade-up"><img alt="lovish" src="assets/img/logo/lovish.jpeg">
                            <p class="Core_67">Lovish Wadhwa, 67th Milestone (Core)</p>
                            <div class="contact-info">
                                <div id="w-node-145d2aac2a46-8ef02105" class="contact-scec"><a href="mailto:lovish.wadhwa.16cse@bml.edu.in?subject=Enquiry"
                                        class="link-3">EMAIL</a></div>
                                <div id="w-node-145d2aac2a48-8ef02105" class="contact-scec"><a href="tel:8295846048"
                                        class="link-4">PHONE</a></div>
                            </div>
                        </li>
                    </div>
                    <div class="col-md-4 col-xs-12 text-center">
                        <li data-aos="fade-up"><img alt="ishaan" src="assets/img/logo/ishaan.jpeg">
                            <p class="Core_67">Ishaan Jain, Treasurer</p>
                            <div class="contact-info">
                                <div id="w-node-145d2aac2a46-8ef02105" class="contact-scec"><a href="mailto:Treasurer.scec@bmu.edu.in?subject=Enquiry"
                                        class="link-3">EMAIL</a></div>
                                <div id="w-node-145d2aac2a48-8ef02105" class="contact-scec"><a href="tel:8696873495"
                                        class="link-4">PHONE</a></div>
                            </div>
                        </li>
                    </div>
                    <div class="col-md-4 col-xs-12 text-center">
                        <li data-aos="fade-up"><img alt="suvesh" src="assets/img/logo/suvesh.jpeg">
                            <p class="Core_67">Suvesh Paidichetty, Hostel Affairs</p>
                            <div class="contact-info">
                                <div id="w-node-49c5e3cceb24-8ef02105" class="contact-scec"><a href="mailto:hostelaffairs.secretary@bmu.edu.in?subject=Enquiry"
                                        class="link-3">EMAIL</a></div>
                                <div id="w-node-49c5e3cceb26-8ef02105" class="contact-scec"><a href="tel:8570897273"
                                        class="link-4">PHONE</a></div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Logo Section
        ================================================== -->


    <!-- Hire Us
        ================================================== -->
    <section class="contact-section section-padding" data-aos="fade-up">
        <div class="bg-layer">
            <span class="project-ctrl"></span>
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
            <span class="line line-4"></span>
            <span class="project-ctrl"></span>
        </div>
        <div class="container">
            <!-- <div class="contact-box">
                    <div class="box">
                        <div class="bg cover-bg" data-image-src="assets/img/bg-2.jpg"></div>
                        <h2>Whatever your needs, we're looking forward <br> to hearing from you</h2>
                        <a href="contact.html" class="custom-btn">
                            <span class="custom-btn__label">Contact Us</span>

                            <span class="custom-btn__icon">

                                <span class="custom-btn__icon-small">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
                                        <polygon points="33.7,95.8 27.8,90.5 63.9,50 27.8,9.5 33.7,4.2 74.6,50 "></polygon>
                                    </svg>

                                </span>

                                <span class="custom-btn__icon-circle">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
                                        <path class="bottomcircle" d="M18.2,18.2c17.6-17.6,46-17.6,63.6,0s17.6,46,0,63.6s-46,17.6-63.6,0"></path>
                                        <path class="topcircle" d="M18.2,18.2c17.6-17.6,46-17.6,63.6,0s17.6,46,0,63.6s-46,17.6-63.6,0"></path>
                                    </svg>

                                </span>


                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    -->

            <!-- Footer
        ================================================== -->
            <footer class="footer section-padding">
                <div class="content-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2 col-md-2">
                                <div class="column-logo">
                                    <!-- <img src="assets/img/logo.png" alt=""> -->
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4">
                                <div class="column-contact">
                                    <h4><a href="#">info@dsngrid.com</a></h4>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="social-content mb-30">
                                    <ul>
                                        <li class="pl-0"><a href="#">Dribbble.</a></li>
                                        <li><a href="#">Behance.</a></li>
                                        <li><a href="#">Linkedin.</a></li>
                                        <li><a href="#">Twitter.</a></li>
                                    </ul>
                                </div>
                                <div class="column-content">
                                    <!-- <h5>Cuby ©2018. All Rights Reserved.</h5> -->
                                    <h5>
                                        <span>Made with</span>
                                        <span class="love">♥</span>

                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer
            ================================================== -->
            <!-- Optional JavaScript -->
            <script src="assets/js/jquery-3.1.1.min.js"></script>
            <script src="assets/js/plugins.js"></script>
            <script src="assets/js/dsn-grid.js"></script>
            <script src="assets/js/custom.js"></script>
</body>

</html>